<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title><%= _.slugify(actName) %></title>
    <!-- build:css public/dist/style-1.0.0.css -->
    <link rel="stylesheet" href="public/css/base.css">
    <!-- /build -->
</head>

<body>
    <article id="page-index">
        page index
    </article>

    <!-- build:js public/dist/app-1.0.0.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <script src="public/js/seajs/sea.js"></script>
    <!-- /build -->
    <script>
seajs.use('core/page', function (page) {
    'use strict';
    page.start('index');
});
    </script>
</body>
</html>